
body {
  font-family: 'Roboto', sans-serif;
  color: #dedede;
  background-color: #33313b;
  text-align: center;

}


p {
  margin: 3% 0;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

.title {
  margin: 3% 0 2%;
  font-size: 3.8rem;
}

.game-board {
  width: 600px;
  height: 600px;
  color: #33313b;
  margin: auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
  border: 6px solid #33313b;
  background-color: #dedede;
  border-radius: 10%;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-again {
  display: none;
}

.btn, .btn-light:hover {
  font-family: 'Roboto', sans-serif;
  font-size: 12rem;
  color: #33313b;
  background-color: #dedede;
  width: 600px;
  height: 600px;
}
